* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: "Smythe", sans-serif;
    font-weight: 400;
    line-height: 1;
}

img {
    display: block;
    width: 100%;
}

a, button {
    display: inline-block;
    font-family: inherit;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.app {
    width: 600px;
    margin: 100px auto;
    position: relative;
}

.app-banner {
    background-image: url("images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    padding: 40px 0;
}

.restaurant-name {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 1.3px;
    margin-bottom: 14px;
}

.restaurant-slogan {
    font-size: 1.5rem;
    font-weight: 300;
}

.app-meals {
    background-color: #fff;
    padding: 20px 0;
}

.meal {
    width: 100%;
    align-items: center;
    gap: 32px;

    padding: 60px 0;
    border-bottom: 2px solid #D2D2D2;
}

.meal:first-of-type {
    padding-top: 40px;
}

.meal-img {
    transition: all 0.2s;
}

.meal-img:hover {
    scale: 1.1;
    filter: drop-shadow(0px 4px rgba(0, 0, 0, 0.3)) ;
}

.meal-name, .meal-name2 {
    font-size: 1.75rem;
    font-weight: 500;
}

.meal-name {
    margin-bottom: 10px;
}

.meal-ingredients {
    color: #8B8B8B;
    margin-bottom: 16px;
}

.meal-price, .meal-price2 {
    font-size: 1.45rem;
    font-weight: 500;
}

.meal-name-and-function {
    width: 100%;
    align-items: center;
}

.icon__add {
    width: 40px;
    height: 40px;
    margin-left: auto;
    transition: all 0.2s;
    cursor: pointer;
}

.icon__add:active {
    transform: translate(0, 3px);
}

.app-orders {
    background-color: #fff;
    padding: 30px 0;
    font-size: 1.5rem;
}

.orders-container {
    visibility: hidden;
}

.app-orders-heading {
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 20px;
}

.meal-list-item {
    align-items: center;
    margin-bottom: 10px;
}

.btn__remove {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    color: #8B8B8B;
    font-family: sans-serif;
    font-size: 0.7rem;
    cursor: pointer;
}

.total {
    padding: 18px 0;
    border-top: 2px solid #000;
}

.total-price, .meal-price2 {
    margin-left: auto;
}

.btn__order, #submitFormBtn {
    display: block;
    width: 100%;
    margin: 20px auto 0;
    border: none;
    border-radius: 4px;
    padding: 20px;
    background-color: #16DB99;
    color: #fff;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: bold;
    transition: all 0.2s;
}

.btn__order:hover, #submitFormBtn:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

form {
    background-color: #fff;
    width: 80%;
    max-height: 550px;
    border: none;
    padding: 20px;
    font-family: sans-serif;
    box-shadow: 0px 0px 6px 2px #666;

    z-index: 4;
    position: absolute;
    inset: 0;
    margin: auto;
    display: none;
}

form p {
    font-size: 24px;
    font-weight: 700;
    margin: 28px 0;
    text-align: center;
    letter-spacing: -1px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 6px;
}

input {
    display: block;
    width: 100%;
    border: 1px solid #8B8B8B;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1rem;
}

#submitFormBtn {
    margin-top: 40px;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: none;
}